.calendarWrapper {
    display: flex;
    justify-content: center;
    height: inherit;
    padding: 1rem 64px;
    background-color: var(--theme-color);
    padding-top: calc(82px + 1rem);
    .mainContainer {
        max-width: 1034px;
        width: 100%;    
    }
}
.dayCell {
    background: var(--lightPrimayBGColor);
    color: var(--lightPrimaryFontColor);
}
.dayHeader {
    background-color: var(--theme-color-secondary);
}
@media screen and (max-width: 768px) {
    .calendarWrapper {
        padding: 1rem 4px;
        padding-top: calc(82px + 1rem);
    }
}