@font-face {
  font-family: 'Montserrat Light';
  font-stretch: normal;
  font-style: normal;
  font-weight: 200;
  src: url(./assets/fonts/Montserrat-Light.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat Regular';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat SemiBold';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Montserrat-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat Bold';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf) format('woff2');
}

:root {
  font-family: 'Montserrat Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #fff;
  background-color: var(--theme-color);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fc-today-bg-color: #329f99;
  --theme-color: #efefef;
  --theme-color-secondary: #1E1E1E;
  --lightPrimayBGColor: #FFFFFF;
  --lightPrimaryFontColor: #1E1E1E;
  --lightSecondaryBGColor:  #333;
}
html {
}
body {
  margin: 0 !important;
  height: 100vh;
  #root {
    height: inherit;
    margin: 0 auto;
  }
}
table {
  .fc-timegrid-axis {
    background-color: var(--theme-color-secondary);
  }
}
.fc .fc-timegrid-axis-cushion {
  max-width: 62px;
}
.react-colorful__saturation {
  height: 150px;
}

@media screen and (max-width: 600px) {
  .fc-header-toolbar {
      flex-direction: column-reverse;
  }
}